Source: diskbuddy
Maintainer: Austin Welsh <austinwelsh110@gmail.com>
Section: utils
Priority: optional
Build-Depends: debhelper-compat (= 13), python3
Standards-Version: 4.5.1
Package: diskbuddy
Architecture: all
Depends: python3, parted, fdisk, coreutils, util-linux
Description: CLI disk management utility (list, usage, mount, format, partition, backup, restore)
